*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	display: table;
	content: '';
}

.clearfix:after {
	clear: both;
}

body {
    font-family: Roboto !important;
	color: #fff;
	background : -webkit-radial-gradient(circle,#1a82f7,#2F2727);
	background : -moz-radial-gradient(circle,#1a82f7,#2F2727);
    background : -o-radial-gradient(circle,#1a82f7,#2F2727);
    background :  radial-gradient(circle,#1a82f7,#2F2727);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-y: scroll;
	overflow-x: hidden;
	width: 100vw;
}

a {
	outline: none;
	color: #77d45b;
	text-decoration: none;
}

a:hover,
a:focus {
	color: #fff;
}

button:focus {
	outline: none;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}


/* Content */

.content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}